
  .logo{
    margin: 0;
    padding-top: 16rem;
    position: absolute;
    align-items: center;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

 
  .contact {
    margin: 0;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
